# Node modules
node_modules/

# Build output
dist/
build/
out/

# Webpack cache
.cache/
.cache-loader/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# IDE directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
